<div class="mat-elevation-z8">
    <ng-container> 
        <mat-table [dataSource]="dataSource" matSort>
            <!-- Data definition -->
            <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.def">
                <mat-header-cell *matHeaderCellDef>
                    {{ column.label }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    {{ row | columnValue: column }} 
                </mat-cell>
            </ng-container>
            <!-- Column definition -->
            <mat-header-row 
                *matHeaderRowDef="displayedColumns">
            </mat-header-row>
            <mat-row mat-row matRipple 
                (click) = "verRegistro(row)"
                *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
    </ng-container>
</div>
