
.demo-table {
    width: 100%;
  }
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 25%;
}

mat-row mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor:grab;
}

mat-row mat-cell:active {
    cursor:grabbing
}
  
mat-row:hover mat-cell {
    border-color: lightsteelblue;
    background-color: lightgray;
}
