table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 25%;
}
  
.example-container {
    width: 100%;
    height: calc(100vh - 40px);
    overflow: auto;
  }
  