<form (ngSubmit)="submit()" class="normal-form" #formDirective="ngForm">
    <div class="center-spinner" *ngIf="isLoading('loading')">
        <app-spinner [overlay]=true></app-spinner>
    </div>
    <ng-template [ngIf]="platillos != undefined && platillos.length > 0" [ngIfElse]="norecords">
        <app-table 
            [data]="platillos"
            [columns]="tableColumns"
            (registroTableSelected) = "registroSeleccionado($event)">
        </app-table>
    </ng-template>
    <ng-template #norecords>
        <p>No existen registros de platillos en la base de datos</p>
        <button type = "submit" mat-button color="primary" 
            [disabled]="isLoading('loading')">
            Registrar Platillo
        </button>   
    </ng-template>
</form>